@import url('https://fonts.googleapis.com/css2?family=Play&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap')

//$primary   : #ff5722 !default
//$secondary : #ff9800
$accent    : #9C27B0

$dark      : #1D1D1D

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037


$body-font-size   : 20px !default
//$body-line-height : 1.5 !default
$button-font-size: var(--q-theme-btn-font-size, 16px)
//$typography-font-family: var(--q-theme-font-family, "'Ubuntu', 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif !default")
$typography-font-family: 'Play', sans-serif !default

$toolbar-min-height             : 60px !default
$toolbar-title-font-size        : 27px !default
